# Import Statements

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Mapping packages:
import folium

In [7]:
# import geopandas as gpd

To install geopandas and folium:

`conda install -c conda-forge geopandas`

`conda install -c conda-forge folium `

then:

`jupyter nbextension enable vega --py --sys-prefix`

to enable the necessary notebook extension to use Folium.

# Importing Data

In [8]:
# Don't edit raw dataframes after they have been imported:
train_raw = pd.read_csv('assets/train.csv')
test_raw = pd.read_csv('assets/test.csv')
weather_raw = pd.read_csv('assets/weather.csv')
spray_raw = pd.read_csv('assets/spray.csv')

# These can be the cleaned versions:
train = train_raw.copy().drop(['Address','Block','Street','AddressNumberAndStreet','AddressAccuracy'], axis=1)
test = test_raw.copy().drop(['Address','Block','Street','AddressNumberAndStreet', 'AddressAccuracy'], axis=1)
# If we're using latitude and longitude we can drop out the address info.
weather = weather_raw.copy()
spray = spray_raw.copy()

# Cleaning Data and EDA, train and test

## Simple Map showing the Testing Locations

In [9]:
m = folium.Map(
    location=[41.883844, -87.632162],
    tiles='openstreetmap',
    zoom_start=10,
    max_zoom = 10,
    min_zoom = 10
    
)



#folium.tooltip = 'Click Me!' #WARNING: Tooltips are not in this release; use the dev one if you want it



folium.Marker([41.973312, -87.910576], popup='OHare Iternational Airport', icon=folium.Icon(icon='plane', color = 'red')).add_to(m)
folium.Marker([41.786, -87.752], popup='Midway International Airport', icon=folium.Icon(icon='plane', color = 'green')).add_to(m)

m

## Examining the training set:

In [10]:
train.head()

,Date,Species,Trap,Latitude,Longitude,NumMosquitos,WnvPresent
0,2007-05-29,CULEX PIPIENS/RESTUANS,T002,41.954690,-87.800991,1,0
1,2007-05-29,CULEX RESTUANS,T002,41.954690,-87.800991,1,0
2,2007-05-29,CULEX RESTUANS,T007,41.994991,-87.769279,1,0
3,2007-05-29,CULEX PIPIENS/RESTUANS,T015,41.974089,-87.824812,1,0
4,2007-05-29,CULEX RESTUANS,T015,41.974089,-87.824812,4,0

### Exploring Species Column -- Ben

In [11]:
train['Species'].value_counts() # WNV is transmitted by all mosquitos in the Culex genus.

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64

[Which mosquitos spread WNV?](https://wwwnc.cdc.gov/eid/article/7/6/01-0617_article)

In [12]:
# In the training dataset, only Culex Pipiens and Culex Restuans carried WNV.
train.groupby(by ='Species')['NumMosquitos','WnvPresent'].mean()

                        NumMosquitos  WnvPresent
Species
CULEX ERRATICUS             7.000000    0.000000
CULEX PIPIENS              16.550945    0.088922
CULEX PIPIENS/RESTUANS     13.945286    0.055135
CULEX RESTUANS              8.551460    0.017883
CULEX SALINARIUS            1.686047    0.000000
CULEX TARSALIS              1.166667    0.000000
CULEX TERRITANS             2.297297    0.000000

# Cleaning Data and EDA, weather -- Steve

In [13]:
weather = pd.read_csv('assets/Proj4WeatherWithLoc.csv')
# Steve has created a new .csv with location data for the weather stations

In [14]:
weather.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure (in hg)',
       'SeaLevel (in hg)', 'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [15]:
weather['Station'] = weather['Station'].astype(str)

#Converting to string so I can run the Map function below.

weather["Station Location"] = weather["Station"].map(lambda x: "O'HARE" if '1' in x else "MIDWAY" if '2' in x else "")

In [16]:
weather['Station'] = weather['Station'].astype(int)
#And back to integer now for math usage

# O'Hare: 41.970748, -87.908336
# Midway: 41.787957, -87.752359

weather["Latitude"] = weather["Station Location"].map(lambda x: "41.970748" if "O'HARE" in x else "41.787957" if "MIDWAY" in x else "")
weather["Longitude"] = weather["Station Location"].map(lambda x: "-87.908336" if "O'HARE" in x else "-87.752359" if "MIDWAY" in x else "")

In [17]:
#Mapping latitude and longitude for the airports

weather["Latitude"] = weather["Latitude"].astype(float)
weather["Longitude"] = weather["Longitude"].astype(float)

#Converting the string entries of location back into floats for math usage

In [18]:
weather['Date'] = pd.to_datetime(weather['Date'], format='%Y/%m/%d')

weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure (in hg),SeaLevel (in hg),ResultSpeed,ResultDir,AvgSpeed,Station Location,Latitude,Longitude
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0,0,29.1,29.82,1.7,27,9.2,O'HARE,41.970748,-87.908336
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,M,0,29.18,29.82,2.7,25,9.6,MIDWAY,41.787957,-87.752359
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0,0,29.38,30.09,13.0,4,13.4,O'HARE,41.970748,-87.908336
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,M,0,29.44,30.08,13.3,2,13.4,MIDWAY,41.787957,-87.752359
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0,0,29.39,30.12,11.7,7,11.9,O'HARE,41.970748,-87.908336

In [19]:
weather.Date.dtype

dtype('<M8[ns]')

In [20]:
weather2011 = weather.loc[(weather['Date'] > '2011-05-01') & (weather['Date'] <= '2011-10-31')]
weather2013 = weather.loc[(weather['Date'] > '2013-05-01') & (weather['Date'] <= '2013-10-31')]

#Making a subset of the weather data over just these years as thats all the spray data we have.

weather2011.reset_index(drop=True)
weather2013.reset_index(drop=True)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure (in hg),SeaLevel (in hg),ResultSpeed,ResultDir,AvgSpeed,Station Location,Latitude,Longitude
0,1,2013-05-02,55,42,49,-5,41,45,16,0,...,0,0.11,29.44,30.17,15.2,3,15.4,O'HARE,41.970748,-87.908336
1,2,2013-05-02,71,42,M,M,39,45,M,M,...,M,0,29.51,30.17,15.8,2,16.1,MIDWAY,41.787957,-87.752359
2,1,2013-05-03,48,40,44,-10,42,43,21,0,...,0,0.05,29.28,30.03,11.2,4,11.5,O'HARE,41.970748,-87.908336
3,2,2013-05-03,50,40,45,M,41,44,20,0,...,M,0.02,29.34,30.03,11.0,2,11.2,MIDWAY,41.787957,-87.752359
4,1,2013-05-04,71,48,60,6,45,51,5,0,...,0,0.02,29.26,29.99,6.1,6,7,O'HARE,41.970748,-87.908336
5,2,2013-05-04,72,49,61,M,44,51,4,0,...,M,T,29.32,29.99,6.0,6,7.6,MIDWAY,41.787957,-87.752359
6,1,2013-05-05,69,48,59,4,43,50,6,0,...,0,T,29.28,30,8.8,3,9.3,O'HARE,41.970748,-87.908336
7,2,2013-05-05,70,49,60,M,41,50,5,0,...,M,0,29.34,30,8.0,2,8.6,MIDWAY,41.787957,-87.752359
8,1,2013-05-06,71,50,61,6,39,49,4,0,...,0,T,29.28,30,7.5,3,8,O'HARE,41.970748,-87.908336
9,2,2013-05-06,70,51,61,M,37,49,4,0,...,M,0,29.34,30,7.0,2,7.5,MIDWAY,41.787957,-87.752359
10,1,2013-05-07,75,48,62,7,41,52,3,0,...,0,0,29.28,30,4.7,5,5.8,O'HARE,41.970748,-87.908336
11,2,2013-05-07,76,49,63,M,39,51,2,0,...,M,0,29.35,30.01,5.1,5,6.3,MIDWAY,41.787957,-87.752359
12,1,2013-05-08,79,48,64,8,43,54,1,0,...,0,0,29.26,29.98,3.7,7,5.1,O'HARE,41.970748,-87.908336
13,2,2013-05-08,77,46,62,M,42,53,3,0,...,M,0,29.33,29.99,4.0,9,4.4,MIDWAY,41.787957,-87.752359
14,1,2013-05-09,75,46,61,5,50,54,4,0,...,0,0.32,29.15,29.9,1.0,9,5.8,O'HARE,41.970748,-87.908336
15,2,2013-05-09,76,50,63,M,49,56,2,0,...,M,0.63,29.23,29.9,0.7,20,5.5,MIDWAY,41.787957,-87.752359
16,1,2013-05-10,47,44,46,-10,43,45,19,0,...,0,0.13,29.18,29.91,9.4,36,10,O'HARE,41.970748,-87.908336
17,2,2013-05-10,50,44,47,M,41,44,18,0,...,M,0.04,29.25,29.91,10.5,35,10.8,MIDWAY,41.787957,-87.752359
18,1,2013-05-11,60,43,52,-5,37,45,13,0,...,0,0,29.21,29.92,10.1,30,12.7,O'HARE,41.970748,-87.908336
19,2,2013-05-11,62,44,53,M,36,45,12,0,...,M,0,29.28,29.94,8.7,28,11.1,MIDWAY,41.787957,-87.752359
20,1,2013-05-12,55,37,46,-11,29,39,19,0,...,0,0,29.35,30.08,7.8,32,11.2,O'HARE,41.970748,-87.908336
21,2,2013-05-12,55,38,47,M,28,39,18,0,...,M,0,29.42,30.1,5.5,32,9.6,MIDWAY,41.787957,-87.752359
22,1,2013-05-13,64,36,50,-8,32,43,15,0,...,0,0,29.34,30.09,2.5,9,5.9,O'HARE,41.970748,-87.908336
23,2,2013-05-13,61,38,50,M,31,43,15,0,...,M,0,29.42,30.11,3.1,8,6.3,MIDWAY,41.787957,-87.752359
24,1,2013-05-14,91,50,71,13,49,59,0,6,...,0,0,28.98,29.75,8.4,22,11.7,O'HARE,41.970748,-87.908336
25,2,2013-05-14,90,57,74,M,47,58,0,9,...,M,0,29.07,29.76,8.9,21,11.5,MIDWAY,41.787957,-87.752359
26,1,2013-05-15,84,60,72,14,49,59,0,7,...,0,0,29.07,29.77,3.2,28,8.4,O'HARE,41.970748,-87.908336
27,2,2013-05-15,83,62,73,M,47,58,0,8,...,M,T,29.14,29.76,2.3,24,9.5,MIDWAY,41.787957,-87.752359
28,1,2013-05-16,83,53,68,9,46,56,0,3,...,0,0,29.2,29.89,4.1,7,5,O'HARE,41.970748,-87.908336
29,2,2013-05-16,81,57,69,M,44,56,0,4,...,M,0,29.26,29.89,4.0,7,5.3,MIDWAY,41.787957,-87.752359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,1,2013-10-17,53,40,47,-5,44,46,18,0,...,0,0.29,29.12,29.86,6.1,26,6.9,O'HARE,41.970748,-87.908336
337,2,2013-10-17,54,44,49,M,43,47,16,0,...,M,0.17,29.2,29.88,7.1,24,7.9,MIDWAY,41.787957,-87.752359
338,1,2013-10-18,50,39,45,-6,40,43,20,0,...,0,0,29.18,29.91,8.3,26,8.7,O'HARE,41.970748,-87.908336
339,2,2013-10-18,50,42,46,M,39,43,19,0,...,M,0,29.26,29.93,7.9,25,8.6,MIDWAY,41.787957,-87.752359
340,1,2013-10-19,54,42,48,-3,37,42,17,0,...,0,0.01,29.1,29.83,8.9,25,9.2,O'HARE,41.970748,-87.908336
341,2,2013-10-19,54,43,49,M,36,43,16,0,...,M,0.01,29.17,29.85,10.1,24,10.4,MIDWAY,41.787957,-87.752359
342,1,2013-10-20,61,36,49,-1,42,46,16,0,...,0,0.01,29.07,29.8,5.1,20,6.1,O'HARE,41.970748,-87.908336
343,2,2013-10-20,65,41,53,M,41,47,12,0,...,M,0.02,29.15,29.82,7.5,21,8.4,MIDWAY,41.787957,-87.752359
344,1,2013-10-21,55,33,44,-6,31,38,21,0,...,0,T,29.19,29.9,10.8,27,11.5,O'HARE,41.970748,-87.908336
345,2,2013-10-21,55,36,46,M,32,40,19,0,...,M,0.03,29.26,29.92,10.3,27,10.8,MIDWAY,41.787957,-87.752359
346,1,2013-10-22,42,29,36,-14,31,34,29,0,...,T,T,29.21,29.95,5.4,26,6.1,O'HARE,41.970748,-87.908336
347,2,2013-10-22,41,31,36,M,31,35,29,0,...,M,0.03,29.28,29.97,4.6,26,5.4,MIDWAY,41.787957,-87.752359
348,1,2013-10-23,46,32,39,-10,27,34,26,0,...,0,T,29.24,29.98,9.2,30,10,O'HARE,41.970748,-87.908336
349,2,2013-10-23,46,32,39,M,27,34,26,0,...,M,T,29.32,30,9.2,29,9.2,MIDWAY,41.787957,-87.752359
350,1,2013-10-24,44,31,38,-11,25,33,27,0,...,T,T,29.45,30.16,10.3,30,10.9,O'HARE,41.970748,-87.908336
351,2,2013-10-24,44,34,39,M,25,34,26,0,...,M,0,29.52,30.2,9.2,30,9.9,MIDWAY,41.787957,-87.752359
352,1,2013-10-25,51,29,40,-8,26,35,25,0,...,0,0,29.47,30.24,10.8,24,11.7,O'HARE,41.970748,-87.908336
353,2,2013-10-25,51,29,40,M,26,36,25,0,...,M,0,29.57,30.28,10.4,23,11.3,MIDWAY,41.787957,-87.752359
354,1,2013-10-26,55,37,46,-2,29,39,19,0,...,0,0,29.22,29.96,10.9,27,14.2,O'HARE,41.970748,-87.908336
355,2,2013-10-26,55,38,47,M,29,39,18,0,...,M,0,29.3,29.98,10.5,26,13.4,MIDWAY,41.787957,-87.752359
356,1,2013-10-27,54,29,42,-6,29,37,23,0,...,0,0,29.28,30.02,6.3,23,6.6,O'HARE,41.970748,-87.908336
357,2,2013-10-27,55,32,44,M,29,38,21,0,...,M,0,29.37,30.05,6.4,23,6.7,MIDWAY,41.787957,-87.752359
358,1,2013-10-28,53,35,44,-3,37,41,21,0,...,0,0,29.54,30.26,9.0,4,9.4,O'HARE,41.970748,-87.908336
359,2,2013-10-28,54,36,45,M,38,42,20,0,...,M,0,29.6,30.26,8.8,4,10.3,MIDWAY,41.787957,-87.752359
360,1,2013-10-29,57,42,50,3,40,45,15,0,...,0,T,29.49,30.25,6.1,10,7.5,O'HARE,41.970748,-87.908336
361,2,2013-10-29,57,43,50,M,39,45,15,0,...,M,T,29.57,30.26,5.9,11,6.6,MIDWAY,41.787957,-87.752359
362,1,2013-10-30,63,43,53,7,52,53,12,0,...,0,0.55,29.22,30,6.6,15,7.5,O'HARE,41.970748,-87.908336
363,2,2013-10-30,64,47,56,M,52,53,9,0,...,M,1.16,29.29,30.01,5.3,14,6.2,MIDWAY,41.787957,-87.752359
364,1,2013-10-31,64,46,55,9,56,57,10,0,...,0,1.04,28.69,29.45,9.4,24,11.5,O'HARE,41.970748,-87.908336
365,2,2013-10-31,65,47,56,M,56,57,9,0,...,M,2.03,28.77,29.47,9.5,23,11.4,MIDWAY,41.787957,-87.752359

# Cleaning Data and EDA, spray

## Steve's work mapping the spray data:

In [22]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [27]:
spray['CombinedLoc'] = spray.Latitude.astype(str).str.cat(spray.Longitude.astype(str), sep=', ')

spray.Date.dtype

spray['Date'] = pd.to_datetime(spray['Date'], format='%Y/%m/%d')

#2011: 08-29 to 09/07
#2013: 07-17 to 09/05

spray2011 = spray.loc[(spray['Date'] > '2011-08-29') & (spray['Date'] <= '2011-09-07')]
spray2013 = spray.loc[(spray['Date'] > '2013-07-17') & (spray['Date'] <= '2013-09-05')]

spray2011 = spray2011.reset_index(drop=True)
spray2013 = spray2013.reset_index(drop=True)

In [28]:
spray2011.head()

        Date        Time   Latitude  Longitude                    CombinedLoc
0 2011-09-07  7:52:52 PM  41.981433 -87.787777  41.9814333333, -87.7877766667
1 2011-09-07  7:53:02 PM  41.980998 -87.787778  41.9809983333, -87.7877783333
2 2011-09-07  7:53:12 PM  41.980560 -87.787762       41.98056, -87.7877616667
3 2011-09-07  7:53:22 PM  41.980198 -87.787758  41.9801983333, -87.7877583333
4 2011-09-07  7:53:32 PM  41.979752 -87.787765      41.9797516667, -87.787765

### Spraying locations in 2011:

In [29]:
from folium import plugins
from folium.plugins import MarkerCluster

location2011 = spray2011['Latitude'].mean(), spray2011['Longitude'].mean()
# locationlist2011 = spray2011[["Latitude","Longitude"]].values.tolist()

map2011 = (folium.Map(location=location2011,zoom_start=13))

for index,row in spray2011.iterrows():
    folium.CircleMarker([row['Latitude'], row['Longitude']],
                        radius=3,
                        fill = True,
                        color = "#4286f4", 
                        fill_color="#4286f4"
                       ).add_to(map2011)

map2011.save('2011 Spray.html')

### Spraying locations in 2013:

In [30]:
map2013 = (folium.Map(location=[41.977049, -87.768738],zoom_start=11))

for index,row2 in spray2013.iterrows():
    folium.CircleMarker([row2['Latitude'], row2['Longitude']],
                       radius=3,
                        fill = True,
                        color = "#b22323", 
                        fill_color="#b22323", # divvy color
                       ).add_to(map2013)

map2013.save('2013 Spray.html')

### All Spraying Locations (2011 & 2013), clustered together

In [31]:
masterspraycluster = (folium.Map(location=[41.843667, -87.803933],zoom_start=10))

marker_cluster = MarkerCluster().add_to(masterspraycluster)

for index,row in spray2011.iterrows():
    folium.CircleMarker([row['Latitude'], row['Longitude']], 
                        radius=3,
                        fill = True,
                        color = "#38ff55", 
                        fill_color="#38ff55").add_to(marker_cluster)
                       

for index, row2 in spray2013.iterrows():
    folium.CircleMarker([row2['Latitude'], row2['Longitude']], 
                        radius=3,
                        fill=True, 
                        color="#ff0000", 
                        fill_color= "#ff0000").add_to(marker_cluster)

masterspraycluster.add_child(folium.LatLngPopup())
masterspraycluster.save('Master Spray (with Clusters).html')

### All Spraying Locations (2011 & 2013), Raw

In [32]:
masterspray = (folium.Map(location=[41.843667, -87.803933],zoom_start=10))

for index,row in spray2011.iterrows():
    folium.CircleMarker([row['Latitude'], row['Longitude']], 
                        radius=3,
                        fill = True,
                        color = "#38ff55", 
                        fill_color="#38ff55").add_to(masterspray)
                       

for index, row2 in spray2013.iterrows():
    folium.CircleMarker([row2['Latitude'], row2['Longitude']], 
                        radius=3,
                        fill=True, 
                        color="#ff0000", 
                        fill_color= "#ff0000").add_to(masterspray)

masterspray.add_child(folium.LatLngPopup())
masterspray.save('Master Spray.html')

In [33]:
# markerspray = (folium.Map(location=[41.843667, -87.803933],zoom_start=10))

# locationlist2011 = spray2011[["Latitude","Longitude"]].values.tolist()
# locationlist2013 = spray2013[["Latitude","Longitude"]].values.tolist()
# icon2011 = folium.Icon(color='red',icon='ok-sign')
# icon2013 = folium.Icon(color='green',icon='ok-sign')

# for index,row in spray2011.iterrows():
#     folium.Marker([row['Latitude'], row['Longitude']], icon=icon2011,
#                   popup=str(row['Date'], 
#                   )).add_to(markerspray)
                       

# for index, row2 in spray2013.iterrows():
#     folium.Marker([row2['Latitude'], row2['Longitude']], icon=icon2013, 
#                   popup=str(row2['Date'] 
#                   )).add_to(markerspray)
    
# markerspray.save('Marker Spray.html')
   

    
#This Currently does not work.  I'll try and figure it out.